<html lang="ko">

    <head>
        <!-- Metadata -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta content="A Dance of Fire and Ice Mods" property="og:title">
        <meta content="https://ppapman1.github.io/" property="og:url">
        <meta content="#4A71B5" data-react-helmet="true" name="theme-color">

        <title>A Dance of Fire and Ice Mods</title>

        <!-- Custom Stylesheets -->
        <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/modObjects.css">

        <!-- Scripts -->
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://kit.fontawesome.com/af07626cc9.js" crossorigin="anonymous"></script>

        <script src="scripts/index.js"></script>
    </head>

    <body>
        <!-- Header to display on top -->
        <header class="no-drag">
            <h1 id='title'><i class="fas fa-cube fa-1x" aria-hidden="true"></i>Mods</h1>

            <!-- Search bar -->
            <div id="search-bar">
                <input type="search" id="search" onkeyup="modSearch()" placeholder="찾고픈 모드의 이름을 검색해보세요">
            </div>
        </header>

        <!-- Side Bar -->
        <side>
            <div id="search-mode">
                <div>
                    <input name="search-mode" type="radio" id="title-mode" onchange="modSearch();changePlaceholder()" checked>
                    <label for="title-mode">모드 이름으로 검색</label>
                </div>

                <div>
                    <input name="search-mode" type="radio" id="feature-mode" onchange="modSearch();changePlaceholder()">
                    <label for="feature-mode">모드 기능으로 검색</label>
                </div>
            </div>

            <div id="buttons">
                <!-- Github Repository -->
                <a href="https://github.com/ppapman1/ppapman1.github.io" target='_blank' id='github'>
                    <div class="circle"><i class="fab fa-github fa-lg"></i>GitHub 리포지토리</div>
                </a>

                <!-- Mod Manage -->
                <% if (isAuthorized) if (user.isDeveloper) { %>
                    <a href="/mods/manage" class='manage-button'>
                        <div class="circle">
                            <i class="fas fa-sliders-h"></i>
                            모드 추가·관리하기
                        </div>
                    </a>
                <% } %>

                <hr id='button-hr'>

                <!-- Discord OAuth2(login) -->
                <% if (!isAuthorized) { %>
                    <a href="../auth" class='discord-login'>
                        <div class="circle">
                            <i class="fas fa-sign-in-alt "></i>Discord로 로그인
                        </div>
                    </a>
                <% } else { %>
                    <a href="../auth/revoke" class='discord-login' onmouseover="logoutButtonOver()" onmouseout="logoutButtonOut()">
                        <div class="circle" id='logined'>
                            <% if (!user.isDeveloper) { %>
                                <i class="fas fa-sign-in-alt"></i>
                            <% } else { %>
                                <i class="fas fa-code" id='isDeveloper'></i>
                            <% } %>
                            <span id='username'><%= user.username %></span>
                        </div>
                    </a>
                <% } %>
            </div>

        </side>
        <!-- List of articles -->
        <main id="articles">
            <% articles.forEach(article => { %>
                <article class="mod" id="mod-article-a4ead8cfe3d24a6aa284aca6ab0b5000">
                    <div class="mod-title">
                        <a href="#">
                            <div class="mod-name"><%= article.name %></div>
                        </a>

                        <a href="<%= article.downloadLink %>">
                            <i class="fas fa-download mod-download"></i>
                        </a>
                    </div>

                    <div class="mod-feature"><%= article.briefFeatures %></div>

                    <div class="mod-footer">
                        <div class="mod-version">v<%= article.version %></div>
                        <hr>
                        <div class="mod-detail">
                            <div class="mod-info">
                                <div class="mod-category"><i class="fas fa-link"></i><%= article.category %></div>
                                <div class="mod-author"><i class="fas fa-user-circle"></i><%= article.authorName %></div>
                            </div>
                            <a href="#" class="black">
                                <div class="mod-more">자세히 보기</div>
                            </a>
                        </div>
                    </div>
                </article>
            <% }) %>
        </main>
    </body>

</html>